.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-table; }

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* End hide from IE-mac */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0; }

h1 {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-family: 'Oswald', sans-serif; }

a {
  text-decoration: none;
  color: #717275; }

a:visited {
  color: #717275; }

.header {
  background-color: #ffffff;
  height: 65px; }
  .header .logo-pic {
    background-image: url("../assets/header_bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 14px; }
    @media only screen and (max-width: 750px) {
      .header .logo-pic {
        float: left;
        margin: 2px 8px; } }
  .header .add-article {
    position: absolute;
    top: 15px;
    right: 21px;
    border: 1px solid #f47949;
    color: #B5442C;
    font-size: 35px;
    padding: 0 1%; }
    @media only screen and (max-width: 750px) {
      .header .add-article {
        font-size: 40px;
        padding: 0 2%;
        line-height: 37px; } }

.nav {
  background-color: #3a3a3a;
  height: 44px;
  margin: 0;
  color: #818285; }
  .nav ul {
    margin: 0 auto;
    width: 332px; }
    @media only screen and (max-width: 750px) {
      .nav ul {
        width: 100%; } }
    @media only screen and (max-width: 750px) {
      .nav ul #my-boards-nav {
        border-right: 1px solid #717275;
        border-left: 1px solid #717275; } }
    .nav ul li {
      list-style: none;
      display: inline-block;
      line-height: 44px;
      font-family: 'Lato', sans-serif; }
      .nav ul li a:hover {
        color: #EF5B34; }
      @media only screen and (min-width: 751px) {
        .nav ul li:first-child:before {
          display: none; }
        .nav ul li:before {
          content: " ";
          width: 5px;
          height: 5px;
          display: inline-block;
          background-color: #888;
          position: relative;
          margin: 0 12px;
          border-radius: 100%;
          box-sizing: border-box;
          top: -2px; } }
      @media only screen and (max-width: 750px) {
        .nav ul li {
          padding: 0 5%;
          width: 22%;
          text-align: center;
          font-size: 13px; } }

.main-content {
  background-image: url("../assets/bg.jpg");
  border: 1px solid transparent; }
  .main-content .content-house {
    width: 700px;
    margin: auto;
    padding: 20px; }
    @media only screen and (max-width: 750px) {
      .main-content .content-house {
        max-width: 343px; } }
    .main-content .content-house .article-house {
      background-color: #ffffff;
      display: inline-block;
      width: 325px;
      vertical-align: top;
      height: 400px;
      padding: 2px;
      margin: 9px; }
      @media only screen and (max-width: 750px) {
        .main-content .content-house .article-house {
          display: block;
          margin-top: 25px; }
          .main-content .content-house .article-house:first-child {
            margin-top: 0px; } }
      .main-content .content-house .article-house .article-pic {
        width: 275px;
        height: 170px;
        margin: 18px auto;
        box-sizing: border-box; }
      .main-content .content-house .article-house h1 {
        font-size: 20px;
        padding-left: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 275px;
        height: 30px; }
      .main-content .content-house .article-house ul {
        margin: 10px 0;
        padding: 0 25px; }
        .main-content .content-house .article-house ul li {
          font-size: 11px;
          font-family: 'Lato', sans-serif;
          display: inline-block; }
          .main-content .content-house .article-house ul li:first-child:before {
            display: none; }
          .main-content .content-house .article-house ul li:before {
            content: " ";
            width: 5px;
            height: 5px;
            display: inline-block;
            background-color: #888;
            position: relative;
            margin: 0 6px;
            border-radius: 100%;
            box-sizing: border-box;
            top: -2px; }
    .main-content .content-house p {
      padding: 0 25px 10px 25px;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      line-height: 20px; }

.footer {
  background-color: #3a3a3a;
  height: 44px;
  margin: 0;
  padding-top: 10px; }
  @media only screen and (max-width: 1000px) {
    .footer {
      display: none; } }
  .footer .footer-sm {
    width: 55px;
    margin: 5px auto; }
    .footer .footer-sm .fb-icon {
      background-image: url(../assets/facebook_grey.svg);
      height: 24px;
      width: 24px;
      display: inline-block; }
    .footer .footer-sm .instagram-icon {
      background-image: url(../assets/instagram_grey.svg);
      height: 24px;
      width: 24px;
      display: inline-block; }
      .footer .footer-sm .instagram-icon:hover {
        background-image: url(../assets/instagram_orange.svg); }
